.entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
}

.entry#register {
  background: linear-gradient( rgb(235,178,153), rgb(135,178,153) );
}

.entry#login {
  background: linear-gradient( rgb(135,178,153), rgb(235,178,153) );
}

.button {
  width: 175px;
  height: 45px;
  font-size: 1.5em;
  background-color: blue;
}

.logo-container {
  margin: 25px;
  height: 25%;
}

#logo-graphic {
  display: block;
  height: 200px;
}

.login-register-choice-bar {
  height: 50px;
}

.register-container {

}

.login-container {

}
