.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: grey;
  width: 100%;
}

.header {
  height: 80px;
  background-color: rgb(135,178,153);
}

#header-logo {
  height: inherit;
}

.weather-bar {
  height: 80px;
}

.subway-scroll-container {
  width: 100%;
  overflow: scroll;
}

.subway-stops-container {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  background: linear-gradient(90deg,rgb(11,71,60), rgb(44,59,56) );
  width: 3000px;
}

.subway-stop-widget-container {
  height: 300px;
  width: 300px;
  margin: 30px;
  background-color: blue;
}

.routes-container {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  background: linear-gradient(45deg, rgba(1,77,20,1) 0%, rgba(0,0,0,1) 100%);
}

.user-route-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 300px;
  overflow: scroll;
  background: linear-gradient(45deg, rgba(1,77,20,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
  margin: 30px;
}

.route-widget-container {
  width: 300px;
  height: 300px;
  margin: 2.5%;
  color: white;

  background: linear-gradient(45deg, rgba(1,77,20,1) 0%, rgba(0,0,0,1) 100%);
}
