.route-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background: linear-gradient(45deg, rgba(1,77,20,1) 0%, rgba(0,0,0,1) 100%);
}

.station-name {
  width: 100%;
  background-color: #57BFB0;
  color: white;
  font-size: 1.5em;
  margin: 0;
}

p {
  margin: 0;
}

.place {
  color: white;
  font-size: 1.1em;
  margin: 0;
}

.route-time {
  margin: 15px;
  font-size: 1.8em;
  font-weight: bold;
}

.route-range {
  font-size: 0.9em;
}
