.subway-component-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #87B2AC;
}

.station-name {
  width: 100%;
  background-color: #57BFB0;
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.arrivals-container {
  margin: 5px;
}

.arrivals-label {
  color: white;
  font-size: 1.1em;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.add-subway-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87B2AC;
  height: 150px;
  width: 300px;
  margin: 30px;
}
