.Weather {
  text-align: center;
}

.Weather-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(320deg, rgba(85,112,96,1) 0%, rgba(0,0,0,1) 100%);
  height: 80px;
  color: white;
}

.temperature-display {
  font-size: 1.5em;
  margin-left: 10px;
  margin-right: 10px;
}
